[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "corepack enable",
  "pnpm install --frozen-lockfile"
]

[phases.build]
cmds = ["pnpm build:standalone"]

[start]
cmd = "node apps/web/.next/standalone/apps/web/server.js"
