[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "corepack enable",
  "pnpm install --frozen-lockfile"
]

[phases.build]
cmds = [
  "pnpm --filter @mejor-tasa/core build",
  "pnpm --filter @mejor-tasa/web build",
  "cp -r apps/web/public apps/web/.next/standalone/apps/web/",
  "cp -r apps/web/.next/static apps/web/.next/standalone/apps/web/.next/"
]

[start]
cmd = "node apps/web/.next/standalone/apps/web/server.js"
